{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
            <h1><span></span>I <span>Bleed</span> <span></span>Poetry</h1>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">poems</a></li>
            <li><a href="#projects" data-after="thoughts">thoughts</a></li>
            <li><a href="#contact" data-after="Contact">Find Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hey There! <span></span></h1>
        <h1>Welcome to  <span></span></h1>
        <h1><font face="Calibri" >Dwindling Mercurial Heart <span></span></font></h1>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title"><span>POEMS</span></h1>
        <p>“Poetry is the spontaneous overflow of powerful feelings: it takes its origin from emotion recollected in tranquillity.” — William Wordsworth</p>
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153160251-d5c7da4a-6021-43af-ba4b-a551795df892.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153165072-fcdafceb-0986-4bf4-8e53-38b2fa28735d.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153167206-b85d3220-9766-457d-b490-3ef9d9f47ca5.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153169980-9e93835d-c70d-4295-90cf-750a46912e57.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153171844-0b989f22-1a1f-42c7-8ee9-3e93ce6d1af2.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153175724-202deabd-6288-42ec-8416-5a70f591e65b.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153428997-a52b1b05-0f16-44d6-872f-e30ab039b4cd.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153177841-8842b885-37b0-40f8-b511-20cb644581fa.png">
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><span>THOUGHTS</span></h1>
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153172739-e37f8537-a49c-4a6a-8741-8b65ca6c646d.png">
        <hr>
        <hr>
        <img src="https://user-images.githubusercontent.com/96294811/153178104-52bfe433-b150-4d79-b477-11757f24d98b.png">
      </div>
    </div>
  </section>
  <!-- End Projects Section -->


  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title"><span>FIND US</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <a href="https://www.instagram.com/dwindling_mercurial_heart/">
            <div class="icon"><img src="https://th.bing.com/th/id/R.4b871823659901418a7668523e5e732b?rik=r7djJ5Q8LbXRKg&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f13%2fInsta-Logo-Transparent-Background.png&ehk=sK0LLqc%2b83HtIYOeOBu3AL%2fk4E6mmttsU2GxR08Rd8A%3d&risl=&pid=ImgRaw&r=0">
            </div>
            <h1>INSTAGRAM</h1>
            <h1>@dwindling_mercurial_heart</h1>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

 <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h2><span>Written </span>by</h2>
        <h1><span>NUPUR NAMJOSHI</span>  </h1>
      </div>
    </div>
  </section>
  <!-- End Footer -->

  <script src="./app.js"></script>
