{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
<hr>
<center>
    <h1>
        <font face="Times New Roman" color="blue">
             EXPLORE MY WORK
        </font>
    </h1>
</center>

<center>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                <p>
                    <font face="Damion" size="7" >
                    <a href="/palegreysky">
                        Pale Grey Sky
                    </a>
                        </font>
                </p>
            </center>
        </div>
    </div>
</section>
</center>


<center>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                <p>
                    <font face="Damion" size="7" >
                    <a href="/palegreysky">
                        Pale Grey Sky
                    </a>
                        </font>
                </p>
            </center>
        </div>
    </div>
</section>
</center>

<center>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                <p>
                    <font face="Damion" size="7" >
                    <a href="/palegreysky">
                        Pale Grey Sky
                    </a>
                        </font>
                </p>
            </center>
        </div>
    </div>
</section>
</center>

<center>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                <p>
                    <font face="Damion" size="7" >
                    <a href="/palegreysky">
                        Pale Grey Sky
                    </a>
                        </font>
                </p>
            </center>
        </div>
    </div>
</section>
</center>

<center>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                <p>
                    <font face="Damion" size="7" >
                    <a href="/palegreysky">
                        Pale Grey Sky
                    </a>
                        </font>
                </p>
            </center>
        </div>
    </div>
</section>
</center>
<hr>
