{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
<hr>
<title>Pale Grey Sky</title>

<center>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                    <font face="Damion" size="7" color="yellow">
                        
                            Pale Grey Sky
                        
                        <pre>
                            <font face="Damion" size="6" color="yellow">
Down below the pale grey sky
I keep asking why and
why
Are you distancing yourself from me?
I can't find you mind's key?
Is this over now?
Are we lost?
Cause you are getting away
Slower then fast
Darling don't lose me
You are all I've got
I'm fighting for you so strong
Come join me...retie
the knot
I've been dreaming of you all day long.
Come tell me now
That in your mind
Is somewhere my heart's song...
                            </font>
                        </pre>
                    </font>
            </center>
        </div>
    </div>
</section>
</center>